*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared styles*/

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;  
}
.logo h2 {
   font-size: 45px;
   font-weight: 800;
    
}
.orange {
    color: #FD6E0A;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px  35px;
    color: #FFF8F3;
    font-weight: bold;
    font-size: 20px;


}
/*main syle*/
header{
    background-color:#FFF8F3 ;
    padding: 50px;
}
nav {
    justify-content: space-between;
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;

}
nav .menu{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 51px;
    font-size: 20px;   
    align-items: center;  
}
